{% extends "base.html" %}

{% block title %}
   Change our password
{% endblock title %}

{% block content %}
<h2>Change your password</h2>
<p>Form for to change password</p>

<form action="" method="post">
 {% csrf_token %}

 <input type="password" name="paswworold" id="passwordchange" placeholder="Enter your old password"> <br>

 <input type="password" name="paswwordnew" id="passwordchangenew" placeholder="Enter your new password"><br>
 <input type="password" name="paswwordnew2" id="passwordchangenew" placeholder="Enter your new password again">
 <p><input type="submit" value="Change"></p>

</form>

{% endblock content %}